.container {
  margin-bottom: 6.625rem;

  .postsContainer {
    margin-top: 10.625rem;

    .content {
      h1 {
        transition: color .3s;
      }

      h1,
      h3,
      div {
        transition: opacity .3s;
      }

      &:hover {
        h1 {
          color: var(--highlight);
          opacity: .6;
        }

        h3,
        div {
          opacity: .8;
        }
      }
    }
  }

  .showmore {
    max-width: 700px;
    margin: 4rem auto 0;

    .postsShowmore {
      display: block;
      background-color: transparent;
      border: none;
      font-style: normal;
      font-weight: 600;
      font-size: 1.125rem;
      line-height: 1.375rem;
      text-align: justify;
      color: var(--highlight);
    }
  }
}
